<!DOCTYPE html>
<html data-layout-decorate="~{shop/layout}" lang="fr">
<head>
    <title>LPDM - Shop</title>
</head>
<body>
<div data-layout-fragment="content" style="padding: 20px;">

    <div class="text-center">
        <h2>Nouveau produits disponibles</h2>
    </div>
    <br>
    <br>
    <div class="row">
        <div data-th-if="${productPageable != null}"
             data-th-each="product,loop : ${productPageable.content}">
            <div class="col-sm-4 shadow-box product">
                <div class="col-sm-3 pull-right">
                    <p class="pull-right" data-th-text="${product.price} + ' €'"></p>
                </div>
                <a data-th-href="'/shop/products/cat/' + ${product.category.id} + '/' + ${product.id}">
                    <p data-th-text="${product.name}"></p>
                    <img data-th-src="${product.picture}"
                         class="img-thumbnail"
                         alt="Image" style="height: 220px; width: 100%; overflow: auto">
                </a>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <div class="text-center">
        <h2>Meilleures ventes</h2>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4 shadow-box">
            <p>Lorem ipsum..</p>
            <img src="https://cache.magazine-avantages.fr/data/photo/w1000_ci/1bj/calendrier-fruits-legumes.jpg"
                 class="img-thumbnail"
                 alt="Image">
        </div>
        <div class="col-sm-4 shadow-box">
            <p>Lorem ipsum..</p>
            <img src="https://cache.magazine-avantages.fr/data/photo/w1000_ci/1bj/calendrier-fruits-legumes.jpg"
                 class="img-thumbnail"
                 alt="Image">
        </div>
        <div class="col-sm-4 shadow-box">
            <p>Lorem ipsum..</p>
            <img src="https://cache.magazine-avantages.fr/data/photo/w1000_ci/1bj/calendrier-fruits-legumes.jpg"
                 class="img-thumbnail"
                 alt="Image">
        </div>
    </div>

</div>
</body>
</html>