<!DOCTYPE html>
<html lang="fr">
<div data-th-fragment="order_process_4">
    <div class="text-left" style="padding-left: 20px;">
        <h4>Récapitulatif de votre commande</h4>
        <p>A l'étape suivante, vous serez en mesure de régler votre commande</p>
        <h6>Si vous avez des questions, n'hésitez pas à <a href="#">nous contacter</a></h6>
    </div>
    <br>
    <div class="col-sm-12">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-map-marker"
                  style="padding-left: 10px; padding-right: 10px"></span> Votre ville
            <div class="alert alert-warning">
                <span data-th-text="${cookieOrder.customer.address.city.zipCode} + ' ' + ${cookieOrder.customer.address.city.name}"></span>
            </div>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-road"
                  style="padding-left: 10px; padding-right: 10px"></span> Mode de livraison
            <div class="alert alert-warning">
                <span data-th-text="${cookieOrder.delivery.method}"></span>
            </div>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-euro"
                  style="padding-left: 10px; padding-right: 10px"></span> Mode de paiement
            <div class="alert alert-warning">
                <span data-th-text="${cookieOrder.payment.label}"></span>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <hr>
        <ul class="list-group">
            <li data-th-each="orderedProduct : ${cookieOrder.orderedProducts}"
                data-th-text="' x ' + ${orderedProduct.quantity} + ' ' + ${orderedProduct.product.name} + ' : ' + ${orderedProduct.product.label}"
                class="list-group-item"></li>
        </ul>
    </div>
    <hr>
    <div class="text-right">
        <h4 id="cart-total"
            data-th-text="'Montant total de la commande : ' + ${cookieOrder.total} + ' € TTC'"
            style="margin-right: 60px;">
        </h4>
    </div>
    <hr>
    <br>
    <div class="col-sm-4">
        <a data-th-href="'/shop/order/process/4'">
            <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Modifier mon mode de paiement
            </button>
        </a>
    </div>
    <div class="col-sm-4 pull-right text-right">
        <a data-th-href="'/shop/order/process/5'">
            <button class="btn btn-default" type="button">
                Effectuer le paiement
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </a>
    </div>
    <br>
</div>
</html>