<!DOCTYPE html>
<html data-layout-decorate="~{shop/layout}" lang="fr">
<head>
    <title>LPDM - Produits</title>
    <link rel="stylesheet"
          data-th-href="@{/css/shop/products/sidebar.css}"
          type="text/css" media="all">
</head>
<body>
<div data-layout-fragment="content" style="padding-top: 10px;">
    <div class="row affix-row">
        <div data-th-replace="/shop/fragments/products/side_menu :: categories"></div>
        <div class="col-sm-10">
            <div class="pull-right">
                <form class="navbar-form" role="search">
                    <div class="input-group add-on">
                        <input class="form-control"
                               placeholder="Rechercher un produit"
                               name="srch-term"
                               id="srch-term"
                               type="text">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div data-th-if="${selectedCategory == null}"
                 data-th-insert="/shop/fragments/products/default :: default">
            </div>
            <div data-th-if="${selectedCategory != null && selectedProduct == null}"
                 data-th-insert="/shop/fragments/products/product_list :: product_list">
            </div>
            <div data-th-if="${selectedCategory != null && selectedProduct != null}"
                 data-th-insert="/shop/fragments/products/product_info :: product">
            </div>
        </div>
    </div>
</div>
</body>
</html>