<!DOCTYPE html>
<html data-layout-decorate="~{admin/layout}" lang="fr">
<head>
    <title data-th-text="${pageTitle}"></title>
</head>
<body>
<div data-layout-fragment="content" style="margin-top: 100px;">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h3>Panel d'administration</h3>
            <h4>Votre rôle utilisateur est définit sur "administrateur".</h4>
            <h5>Soyez attentif aux modifications que vous comptez effectuer !</h5>
            <img data-th-src="@{/images/caution.jpg}" alt="img"/>
        </div>
    </div>
</div>
</body>
</html>