<!DOCTYPE html>
<html lang="fr">

<!-- Main navigation bar -->
<nav class="navbar navbar-inverse navbar-fixed-top" data-th-fragment="nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" style="color: #fff;">LPDM - Admin panel</span>
            <a class="navbar-brand" href="/admin/"></a>
        </div>

        <!-- Menu items -->
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a data-th-href="'/admin/eureka/'"><h4>EUREKA</h4></a></li>
                <li><a data-th-href="'/admin/auth/'"><h4>UTILISATEURS</h4></a></li>
                <li><a data-th-href="'/admin/orders/'"><h4>COMMANDES</h4></a></li>
                <li><a data-th-href="'/admin/products/'"><h4>PRODUITS</h4></a></li>
                <li><a data-th-href="'/admin/stocks/'"><h4>STOCKS</h4></a></li>
                <li><a data-th-href="'/admin/stores/'"><h4>MAGASINS</h4></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a data-th-href="@{/shop}">
                        <h4>
                        <span class="glyphicon glyphicon-log-in"></span>
                        Retour à la boutique</h4>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</html>