<!DOCTYPE html>
<html data-layout-decorate="~{shop/layout}" lang="fr">
<head>
    <title>LPDM - Compte</title>
</head>
<body>
<div data-layout-fragment="content" style="padding-top: 10px;">
    <div class="row">
        <div class="col-sm-3">
            <br>
            <div class="panel panel-info">
                <div class="panel-heading"><b>Mon compte</b></div>
                <div class="panel-body shadow-box-8">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <td>
                                <a data-th-href="'/shop/account'">
                                    <div data-th-if="${accountContent == 'cart'}">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        Mon panier
                                    </div>

                                    <div data-th-if="${accountContent == 'order'}">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        Ma commande en cours
                                    </div>
                                    <div data-th-if="${accountContent != 'cart' && accountContent != 'order'}">
                                        Mon panier
                                    </div>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a data-th-href="'/shop/account/infos'">
                                    <span data-th-if="${accountContent == 'infos'}"
                                          class="glyphicon glyphicon-chevron-right">
                                    </span>
                                    Mes informations
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a data-th-href="@{/shop/account/orders}">
                                    <span data-th-if="${accountContent == 'orders_history'}"
                                          class="glyphicon glyphicon-chevron-right">
                                    </span>
                                    Mes commandes
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#">
                                    <span data-th-if="${accountContent == 'invoices'}"
                                          class="glyphicon glyphicon-chevron-right">
                                    </span>
                                    Mes factures
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a data-th-href="'/shop/account/logout'">Se déconnecter</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div data-th-if="${accountContent == 'cart'}"
             data-th-insert="/shop/fragments/account/account_cart :: cart">
        </div>
        <div data-th-if="${accountContent == 'order'}"
             data-th-insert="/shop/fragments/account/account_order :: order">
        </div>
        <div data-th-if="${accountContent == 'infos'}"
             data-th-insert="/shop/fragments/account/account_infos :: infos">
        </div>
        <div data-th-if="${accountContent == 'orders_history'}"
             data-th-insert="/shop/fragments/account/account_orders_history :: orders_history">
        </div>

    </div>
</div>
</body>
</html>