<!DOCTYPE html>
<html lang="fr">
<div data-th-fragment="orders_history">
    <script data-th-src="@{/js/shop/account/orders_history.js}" charset="UTF-8"></script>
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><b>Mes commandes</b></h4>
            </div>
            <div class="panel-body">
                <div class="col-sm-7">
                    <h4>Vos commandes en un seul endroit</h4>
                    <h5>Sélectionnez un statut de commande pour afficher une liste</h5>
                    <h6>Si vous avez des questions, n'hésitez pas à <a href="#">nous contacter.</a></h6>
                    <br>
                </div>
                <div class="col-sm-3 pull-right">
                    <div class="form-group">
                        <label for="status_select">Sélectionner un statut</label>
                        <select class="form-control" id="status_select" style="cursor: pointer;">
                            <option disabled selected style="cursor: pointer;">Cliquer ici</option>
                            <option data-th-each="status : ${statusList}"
                                    data-th-value="${status.id}"
                                    data-th-text="${status}"
                                    style="cursor: pointer;">
                            </option>
                        </select>
                    </div>
                </div>
                <br>
                <div data-th-if="${orderList == null && param.status != null}" class="alert alert-warning col-sm-9">
                    Aucune commande n'a été trouvé avec ce statut.
                </div>
                <table class="table table-hover table-responsive"
                       data-th-if="${orderList != null}">
                    <thead>
                    <tr>
                        <th>Référence</th>
                        <th>Date de commande</th>
                        <th class="text-right">Montant</th>
                        <th class="text-center">Etat</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-th-each="order : ${orderList}">
                        <td data-th-text="'#' + ${order.id}"></td>
                        <td data-th-text="'Le ' + ${#temporals.format(order.orderDate, 'dd / MM / yyyy à HH:mm')}"></td>
                        <td data-th-text="${order.total} + ' € TTC'" class="text-right"></td>
                        <td data-th-text="${order.status}" class="text-center"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>